.form-wrapper {
  background: #f8f9fc;
  padding: 2rem;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  font-family: 'Arial', sans-serif;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
  }
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;

      &:invalid.ng-touched {
        border-color: red;
      }

      &:disabled {
        background: #f0f0f0;
      }
    }

    .error {
      color: red;
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    button {
      padding: 0.6rem 1.5rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .reset {
      background-color: #e5e7eb;
    }

    .submit {
      background-color: #fcd34d;
    }
  }

}

.delete-message {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}